<script src="{{ '/assets/js/simpleCart.js' || relative_url }}"></script>
    <script src="{{ '/assets/js/formOrder.js || relative_url }}"></script>
    <script async src="{{ /assets/js/main.js || relative_url }}"></script>
    <script async src="{{ '/assets/js/responsive-menu.js || relative_url }}"></script>

    {% if page.url contains '/products/' %}
      <script async src="{{ '/assets/js/style-picker.js || relative_url }}"></script>
      <script async src="{{ '/assets/js/add-to-cart.js || relative_url }}"></script>
    {% endif %}

    {% if page.url == '/checkout/' %}
      <script async src="{{ '/assets/js/checkout.js || relative_url }}"></script>
    {% endif %}
<script src="{{site.baseul}}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="{{site.baseul}}/assets/vendor/owl-carousel/owl.carousel.js" type="text/javascript"></script>
<script src="{{site.baseul}}/assets/js/custom.js" type="text/javascript"></script>
<script>
window.onscroll=function(){myFunction()};var header=document.getElementById("head_er"),sticky=header.offsetTop;function myFunction(){window.pageYOffset>sticky?header.classList.add("sticky"):header.classList.remove("sticky")}
</script>
<script>
const btn=document.querySelector(".toggle"),currentTheme=localStorage.getItem("theme");"dark"==currentTheme&&document.body.classList.add("dark-mode"),btn.addEventListener("click",function(){document.body.classList.toggle("dark-mode");let a="light";document.body.classList.contains("dark-mode")&&(a="dark"),localStorage.setItem("theme",a)})
</script>
